<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="SedPath" value="C:\gnutools\sed.exe"/>
        <add key="DiffPath" value="C:\gnutools\diff.exe"/>
        <add key="SigcheckPath" value="C:\sigcheck\sigcheck.exe"/>
        <add key="ReseditPath" value="C:\resedit\ResEdit.exe"/>
        <add key="DumpbinPath" value="C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\bin\amd64\dumpbin.exe"/>
    </appSettings>
</configuration>